.titre {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 80%;
  }
}
